mat-card{
    width: 100%;
}
h1{
    font-size: 30px;
    font-weight: 300;
}
.firstCheck{
    border: 2px solid rgb(207, 206, 206);
}
.example-section {
    margin: 12px 0;
  }
  mat-checkbox{
      margin-top: 3px;
      margin-left: 5px;
  }

  .btn{
      border-radius: 50%;
      color: white;
      background-color: #079dffe3;
      border: #079dffe3;
      
  }