
  <!-- <div>
      <h1>Exchange Rates Chart</h1>
  </div>
<br> -->
<div class="container">
    <div class="row">
        <div class="col-6 ">
            <h2 class="sub-title">Rates</h2>
                <hr>
            <!-- <p>  {{unitPrice | currency: "USD": "$" }}</p> -->
          
            <!-- <p>{{number1}} </p> -->
            <p>{{value1}}</p>
            <!-- <h1>{{number2}}</h1> -->
            <h1>{{value2}}</h1>
            <br>

            <!-- <h4>{{value}}</h4> -->
            <form  [formGroup]="form">
                <!-- -------first------ -->
                <div class="row">
                    <!-- --currency-- -->
                    <div class="col-6">
                        <div>
                            <!-- <input [(ngModel)]="currency" type="text" class="form-control" /> -->
                            <input formControlName="numOne" value="val"  name="numOne" type="text" class="form-control" />

                        </div>

                        <!-- <div class="currency" formControlName="numOne">
                            <div *ngFor="let item of number">
                                {{ item.value }}
                            </div>
                        </div> -->
                        <!-- <select formControlName="numOne" type="" usd-only class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"  >
                            <option *ngFor="let item of number">
                                {{ item.value }}
                            </option>
                        </select> -->
                    </div>
                    <!-- --country-- -->
                    <div class="col-6">
                        <select formControlName="one" name="one" type="" usd-only class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" #sel (change)="changed1(sel)">
                            <option *ngFor="let itemOne of mapped" [ngValue]="itemOne.type">
                                {{ itemOne.value }}
                            </option>
                        </select>
                    </div>
                  
                </div>
                <!-- -------Two------ -->
                <div class="row">
                    <!-- --currency-- -->
                    <div class="col-6">
                        <div >
                            <!-- <input [(ngModel)]="currency" type="text" class="form-control" /> -->
                            <input formControlName="numTwo"  name="numTwo" type="text" class="form-control" />

                        </div>
                        <!-- <div class="currency" formControlName="numTwo">
                            <div *ngFor="let item of number">
                                {{ item.value }}
                            </div>
                        </div> -->
                        <!-- <input class="form-control" type="text" placeholder="" aria-label="default input example"> -->
                      
                        <!-- <select formControlName="numTwo" type="" usd-only class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" >
                            <option *ngFor="let item of number">
                                {{ item.value }}
                            </option>
                        </select> -->
                    </div>
                    <!-- --country-- -->
                <div class="col-6">
                    <select formControlName="Two" name="Two" type="" usd-only  class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" #sels (change)="changed2(sels)">
                        <option *ngFor="let itemTwo of mappedTwo" [ngValue]="itemTwo.type">
                            {{ itemTwo.value }}
                        </option>
                    </select>
                </div>
              </div> 
            </form>
        </div>
        <div class="col-6">
            <h2 class="sub-title">Chart</h2>
            <hr>
            <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"></highcharts-chart>
        </div>
    </div>
</div>


