
  <!-- <div>
      <h1>Exchange Rates Chart</h1>
  </div>
<br> -->
<div class="container">
    <div class="row">
        <div class="col-6 ">
            <h2 class="sub-title">Rates</h2>
                <hr>
            <p>  {{unitPrice | currency: "USD": "$" }}</p>
            <form  [formGroup]="form">
                <!-- -------first------ -->
                <div class="row">
                    <div class="col-6">
                        <select formControlName="numOne" type="" usd-only class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                            <option *ngFor="let item of number">
                                {{ item.value }}
                            </option>
                        </select>
                    </div>
                    <div class="col-6">
                        <select formControlName="one" type="" usd-only class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                            <option *ngFor="let itemOne of mapped">
                                {{ itemOne.value }}
                            </option>
                        </select>
                    </div>
                  
                </div>
                <!-- -------Two------ -->
                <div class="row">
                    <div class="col-6">
                        <!-- <input class="form-control" type="text" placeholder="" aria-label="default input example"> -->
                      
                        <select formControlName="numOne" type="" usd-only class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                            <option *ngFor="let item of number">
                                {{ item.value }}
                            </option>
                        </select>
                    </div>
                <div class="col-6">
                    <select formControlName="Two" type="" usd-only  class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                        <option *ngFor="let itemOne of mapped">
                            {{ itemOne.value }}
                        </option>
                    </select>
                </div>
              </div> 
            </form>
        </div>
        <div class="col-6">
            <h2 class="sub-title">Chart</h2>
            <hr>
            <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"></highcharts-chart>
        </div>
    </div>
</div>
